html {
  position: relative;
  min-height: 100%;
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding-top: 100px;
  margin-bottom: 160px; /* Margin bottom by footer height */
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here */
}

.container {
  max-width: 60rem;
}

a:hover, a:focus, input[type="submit"]:active, input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
  text-decoration: none;
}

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

a.navbar-brand {
    color: #cdddeb;
    margin-right: 0;
}

a.app-navbar-brand {
    font-size: inherit;
    padding-left: 0;
    padding-right: 0.5rem;
}

a.navbar-brand:hover {
    color: #fff;
}

/* This class for hidding pseudo class :after if site has small width */
.hide-after:after {
  display: none
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar {
    padding: 0;
}

div.app-dropdown-logout {
    top: 78%;
    left: 18px;
    padding: 0;
    min-width: 0;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2.5rem !important;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 1.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.app-delete-form {
  display: inline-block;
}

.app-delete-form input[type="submit"] {
  border: none;
  background: none;
  cursor: pointer;
  color: #007bff;
  padding-left: 0;
}

.app-delete-form input[type="submit"]:hover {
  color: #0056b3;;
}

textarea {
    min-height: 200px;
}

#flash-message {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 10;
}

#flash-message-admin {
    position: absolute;
    top: 93px;
    right: 200px;
    z-index: 10;
}

 a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: auto;
}

 .link-disabled:hover {
    cursor: not-allowed !important;
 }

/* Block for input type file */

.jfilestyle {
    display: block;
}

div.jfilestyle.jfilestyle-theme-custom input {
    border-radius: .25rem;
    background: #FFF;
}

div.jfilestyle.jfilestyle-theme-custom label {
    border: 1px solid #007BFF;
    border-radius: .25rem;
}

.admin-img {
    width: 70px;
    height: 40px;
}

.admin-img-edit {
    width: 250px;
    height: 170px;
}

.select2-container--default .select2-selection--multiple {
    border-color: #ced4da;
}

.admin-sidebar div.blog-post{
    position: fixed;
    border-right: 1px solid rgba(0,0,0,.1);
    min-height: 100%;
    overflow: hidden;
    padding-right: 50px;
}

/* For categories */

ul.topnav ul {
    display: none;
    margin: 0;
    padding: 0;
}

ul.topnav span:first-child {   
    text-align: right;
    display: inline-block;
    width: 20px;
}

a.highlight {
    color: #008BFF;
}

/* End block */

.dashboard {
    position: relative;
}

.dashboard span{
    margin-left: 34px;
}

.fa-tachometer {
    position: absolute;
}

div.category-name {
    margin-top: -20px;
    margin-bottom: 30px;
}

.soc-icons {
    display: inline-block;
    background: #428BCA;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 8px;
    text-align: center;
    margin-top: 4px;
    border-radius: .25rem;
}

.soc-icons:hover {
    background: #0056b3;
}

a.active-color {
    border-bottom: 2px solid #428BCA;   
}

.employee-position {
    margin-top: -10px;
    margin-bottom: 20px;
}

a.employee-link:hover {
    color: #0056b3;
}

@media (min-width: 768px) {
    .admin-comments-block {
        position: relative;
    }

    div.admin-comments-block form.comment-delete {
        position: absolute;
        bottom: 20px;
        right: 0;
    }
}

.admin-comments-block {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.admin-comments-block:last-of-type {
    border-bottom: none;
}

#admin-comments-form form textarea {
    min-height: 70px;
}

.per-page-input, .per-category-page-input {
  height: 70px;
}

.pagination {
    justify-content: center !important;
}

@media only screen and (max-width: 992px) {
  div.portfolio-item {
    margin-bottom: 30px;
  }
}

/* Shaking element */
.post-title:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

[v-cloak] { display:none; }